@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --custom-input-bg:"#333333";
    --custom-input-text:"#858585";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.responsive{
    width: 1634px;
    max-width: calc(100% - 3rem);
}

.banner-fade-bottom
{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 7.4rem;
    background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37,37,37,0.61)
    );
}

.banner-button
{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem  2rem ;
    margin-right: 1rem;
    background-color: rgba(51,51,51,0.5);
    transition: 0.3s;
}

.banner-button:hover
{
    color: #000;
    background-color: #e6e6e6;
}


@media only screen and (min-width: 600px) {
    .responsive{
        max-width: calc(100% - 4rem);
    }
}

@media only screen and (min-width: 1280px) {
    .responsive{
        max-width: calc(83.3% - 6rem);
    }
}

@media only screen and (min-width: 1920px) {
    .responsive{
        max-width: calc(66.6% - 6rem);
    }
}

.bg-hero-pattern
{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url("/src/assets/popsignup.jpg");
}